/* Стили для кнопки */
.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* Контейнер для выпадающего списка */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Выпадающий список */
.dropdown-content {
    display: none;
    border-radius: 2rem;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Стили для ссылок в выпадающем списке */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Изменение цвета фона ссылки при наведении */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Показ выпадающего списка при наведении */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Изменение фона кнопки при наведении */
.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

.yt {
  background-color: #3e8e41;
}
